html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BADA55;
  font-size: 22px;
  padding: 0.5em;
  font-weight: 700;
  border: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}
