.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px 300px;
	border: 10px solid black;
	justify-items: start;
	align-items: start;
}

.item2 {
	justify-self: end;
}

.item3 {
	align-self: end;
}

.item4 {
	justify-self: end;
	align-self: end;
}